<!DOCTYPE html>
<html>

<head>
	<title></title>

	<h1>This is home page</h1>
</head>




<body>

{% for category in categories %}
	<p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
{% endfor %}

---
{% for tag in post.tag_set.all %}

	<br>
	<br>
	{{ tags.slug }}
	<br>
	<br>


	
{% endfor %}


<hr>
{% for post in post_list %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p>{{ post.mini_text }}</p>
    <small>{{ post.published_date }}</small>
{% endfor %}


</body>


</html>



<!-- {% for post in post_list %}

<a href='{% url "post" post.slug %}'>{{ post.title }}</a>


{% endfor %} -->